   /* https://raw.githubusercontent.com/dohliam/dropin-minimal-css/gh-pages/src/base.css */
   .quote {
    border-left: 6px solid black;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
}
html {
    max-width: 80ch;
    margin: auto;
    padding: 1em;
}
* ,
:after ,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
code ,
kbd ,
pre ,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}
button ,
input ,
optgroup ,
select ,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button ,
input {
  overflow: visible;
}
button ,
select {
  text-transform: none;
}
[type=button] ,
[type=reset] ,
[type=submit] ,
button {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner ,
[type=reset]::-moz-focus-inner ,
[type=submit]::-moz-focus-inner ,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring ,
[type=reset]:-moz-focusring ,
[type=submit]:-moz-focusring ,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: .35em .75em .625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox] ,
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button ,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  border: 1px solid #e9e9e9;
}
table td ,
table th {
  padding: 1rem;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  background: #fdf6e3;
}

details ,
main {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

.b ,
.strong ,
b ,
strong {
  font-weight: 700;
}

.em ,
em {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.small ,
small {
  font-size: .8125rem;
}

sub ,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

[hidden] ,
template {
  display: none;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
  font-family: sans-serif;
  margin: .5rem 0;
}

.h1 ,
h1 {
  font-size: 32px;
  line-height: 38px;
}

.h2 ,
h2 {
  font-size: 26px;
  line-height: 32px;
}

.h3 ,
h3 {
  font-size: 22px;
  line-height: 28px;
}

.h4 ,
h4 {
  font-size: 18px;
  line-height: 24px;
}

.h5 ,
h5 {
  font-size: 16px;
  line-height: 22px;
}

.h6 ,
h6 {
  font-size: 14px;
  line-height: 20px;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container-m {
    width: 736px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 980px) {
  .container-l {
    width: 948px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container-xl {
    width: 1168px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
}

.col-1 ,
.col-1-2 ,
.col-1-3 ,
.col-1-4 ,
.col-1-5 ,
.col-2 ,
.col-2-3 ,
.col-2-5 ,
.col-3 ,
.col-3-4 ,
.col-3-5 ,
.col-4 ,
.col-4-5 ,
.col-5 ,
.col-6 ,
.col-7 ,
.col-8 ,
.col-9 ,
.col-10 ,
.col-11 ,
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-1-2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-1-3 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-2-3 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-1-4 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-3-4 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-1-5 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-2-5 {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-3-5 {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.col-4-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

.col-full {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .row-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
  }

  .col-1-m ,
  .col-2-m ,
  .col-3-m ,
  .col-4-m ,
  .col-5-m ,
  .col-6-m ,
  .col-7-m ,
  .col-8-m ,
  .col-9-m ,
  .col-10-m ,
  .col-11-m ,
  .col-12-m ,
  .col-1-2-m ,
  .col-1-3-m ,
  .col-2-3-m ,
  .col-1-4-m ,
  .col-3-4-m ,
  .col-1-5-m ,
  .col-2-5-m ,
  .col-3-5-m ,
  .col-4-5-m ,
  .col-full-m {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .col-1-m { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-2-m { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-3-m { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-4-m { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-5-m { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-6-m { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-7-m { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-8-m { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-9-m { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-10-m { -webkit-box-flex: 0; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-11-m { -webkit-box-flex: 0; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-12-m { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .col-1-2-m { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-1-3-m { -webkit-box-flex: 0; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-2-3-m { -webkit-box-flex: 0; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-1-4-m { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-3-4-m { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-1-5-m { -webkit-box-flex: 0; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
  .col-2-5-m { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%; }
  .col-3-5-m { -webkit-box-flex: 0; -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%; }
  .col-4-5-m { -webkit-box-flex: 0; -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%; }
  .col-full-m { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
}

@media only screen and (min-width: 980px) {
  /* ...existing media query for 980px... */
}

@media only screen and (min-width: 1200px) {
  /* ...existing media query for 1200px... */
}

.padding-left-0-25rem { padding-left: .25rem; }
.padding-left-0-5rem { padding-left: .5rem; }
.padding-left-1rem { padding-left: 1rem; }
.padding-left-1-5rem { padding-left: 1.5rem; }
.padding-left-2rem { padding-left: 2rem; }
.padding-left-3rem { padding-left: 3rem; }
.padding-left-4rem { padding-left: 4rem; }
.padding-left-5rem { padding-left: 5rem; }

.padding-right-0-25rem { padding-right: .25rem; }
.padding-right-0-5rem { padding-right: .5rem; }
.padding-right-1rem { padding-right: 1rem; }
.padding-right-1-5rem { padding-right: 1.5rem; }
.padding-right-2rem { padding-right: 2rem; }
.padding-right-3rem { padding-right: 3rem; }
.padding-right-4rem { padding-right: 4rem; }
.padding-right-5rem { padding-right: 5rem; }

.padding-top-0-25rem { padding-top: .25rem; }
.padding-top-0-5rem { padding-top: .5rem; }
.padding-top-1rem { padding-top: 1rem; }
.padding-top-1-5rem { padding-top: 1.5rem; }
.padding-top-2rem { padding-top: 2rem; }
.padding-top-3rem { padding-top: 3rem; }
.padding-top-4rem { padding-top: 4rem; }
.padding-top-5rem { padding-top: 5rem; }

.padding-bottom-0-25rem { padding-bottom: .25rem; }
.padding-bottom-0-5rem { padding-bottom: .5rem; }
.padding-bottom-1rem { padding-bottom: 1rem; }
.padding-bottom-1-5rem { padding-bottom: 1.5rem; }
.padding-bottom-2rem { padding-bottom: 2rem; }
.padding-bottom-3rem { padding-bottom: 3rem; }
.padding-bottom-4rem { padding-bottom: 4rem; }
.padding-bottom-5rem { padding-bottom: 5rem; }

.padding-0 { padding: 0; }
.padding-0-25rem { padding: .25rem; }
.padding-0-5rem { padding: .5rem; }
.padding-1rem { padding: 1rem; }
.padding-1-5rem { padding: 1.5rem; }
.padding-2rem { padding: 2rem; }
.padding-3rem { padding: 3rem; }
.padding-4rem { padding: 4rem; }
.padding-5rem { padding: 5rem; }

.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }
.flex-nowrap { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.flex-align-items-bottom ,
.flex-align-items-center ,
.flex-align-items-top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-justify-left { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.flex-justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.flex-justify-right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.flex-space-around { -ms-flex-pack: distribute; justify-content: space-around; }
.flex-space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.flex-row {
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }
.sticky { position: -webkit-sticky; position: sticky; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.font-100 { font-weight: 100; }
.font-200 { font-weight: 200; }
.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }
.font-900 { font-weight: 900; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
